/* Tags */
canvas {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: -1;
}

/* Groups of divs */
#title, #sidebar, #mainContent, #footer {
	padding: 10px 10px 10px 10px;
	font-family: "MS Sans Serif", Geneva, sans-serif;
	border-radius: 10px;
}
#title, #sidebar, #footer {
	text-align: center;
}
#sidebar, #mainContent, a {
	color:black;
}
#title, #footer {
	color: white;
}
#sidebar, #mainContent {
	height: 500px;
}
#title, #footer {
	background-color:#001A66;
}

/* Individual main divs */
#allcontent {
	opacity: 0.9;
	min-width: 655px;
	max-width: 750px;
	margin-left: auto;
	margin-right: auto;
}
#title {	
	font-size: 30px;
	letter-spacing:5px;
	margin: 5px 5px 0px 5px;
}
#sidebar {
	background-color:#B8B8A0;
	color:black;
	font-size: 18px;
	width: 150px;
	float: left;
	margin: 8px 5px 5px 5px;
	line-height: 30px;
}
#mainContent {
	background-color:#E6E6E6;
	margin: 8px 5px 5px 185px;
	font-size: 15px;
}
#footer {
	font-size: 11px;
	margin: 8px 5px 0px 5px;
}

/* Other stuff */
#sidelinks :hover {
	background-color: #E6E6E6;
}
.sidebarlinkdiv {
	border-radius: 15px;
}
#contentHeading {
	font-size: 28px;
	font-weight: bold;
}