#allcontent {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

table {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.selected { background-color: #0FF; }
.hovered { background-color: #9F9; }

.row1:nth-child(2n) { background-color: #AAA; } 
.row1:nth-child(2n+1) { background-color: #ffffff; } 
.row2:nth-child(2n) { background-color: #ffffff; } 
.row2:nth-child(2n+1) { background-color: #AAA; } 
